<div class="content-wrapper">
    <div class="container">
        <div class="title">
            <h3>
                A LITTLE ABOUT US
            </h3>
        </div>
        <div class="content">
            <p>
                We are a professional agency providing customized security arrangements to
                the industrial, commercial, and business houses
            </p>
            <p>
                Star securities has been one of the pioneers in the Private Security Industry.
                Set up in 2000, the company has been a thought and knowledge leader since
                its inception. Through the decade of its existence, Star has endeavored to
                provide the best security solutions to its customers through innovation,
                commitment to quality, training and strict compliance to international
                standards.
            </p>
            <p>
                Setup as Investigation firm almost 10 years ago, today the company has
                grown into a &quot;Total Security Solutions Provider&quot; offering manned guarding
                (MG), investigations (C&amp;I), electronic security systems (ESS) and cash
                services (CS) to over 250 corporate customers across 24 states.
            </p>
            <p>
                Star is an ISO 9001:2000 certified public limited company. Backed by a
                trained workforce of over 2800 men &amp; supervisors and 100 banded
                managers, Star delivers premium services with high quality and absolute
                integrity.
            </p>
            <p>
                Star believes in continuously upgrading the quality of our resources and
                infrastructure to support the ever-changing customer requirements. In
                pursuance to this, Star wants the security business to implement a state-of-
                the-art ERP Solution to manage the day-to-day operations of the company.
            </p>
        </div>
    </div>
</div>