@model StarSecurity.Entites.Recruitment
@{
    ViewData["Title"] = "EditRecruitment";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Edit Recruitment</h4>
                    <form action="EditRecruitment" class="forms-sample" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Title">Title</label>
                            <input asp-for="Title" type="text" class="form-control" placeholder="Vacancies">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Vacancies">Vacancies</label>
                            <input asp-for="Vacancies" type="text" class="form-control" placeholder="Vacancies">
                            <span asp-validation-for="Vacancies" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Count">Count</label>
                            <input asp-for="Count" type="number" class="form-control" placeholder="Count">
                            <span asp-validation-for="Count" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Summary">Summary</label>
                            <input asp-for="Summary" type="text" class="form-control" placeholder="Summary">
                            <span asp-validation-for="Summary" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ServiceId">Department</label>
                            <select asp-for="ServiceId" class="form-control" asp-items="@ViewBag.Service"></select>
                            <span asp-validation-for="ServiceId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Image">Image</label>
                            <input asp-for="Image" type="file" name="fileImage" class="form-control file-upload-info">
                            <input type="hidden" asp-for="Image" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description">Description</label>
                            <textarea asp-for="Description" class="form-control" id="description"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Status">Status</label>
                            <select asp-for="Status" class="form-control">
                                <option value="1">Recruiting</option>
                                <option value="2">Stop</option>
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary me-2">
                            <i class="ti-file btn-icon-prepend"></i>
                            Save
                        </button>
                        <button type="reset" class="btn btn-warning btn-icon-text">
                            <i class="ti-reload btn-icon-prepend"></i>
                            Reset
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section ckeditorJS{
    <script>
        CKEDITOR.replace("description");
    </script>
}
    @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }