@model StarSecurity.Entites.Employee
@{
    ViewData["Title"] = "AddEmployee";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add Employee</h4>
                    <form action="AddEmployee" class="form-sample" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label asp-for="Name" class="col-sm-3 col-form-label">Name of Employee</label>
                                    <div class="col-sm-9">
                                        <input asp-for="Name" type="text" class="form-control"/>
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label asp-for="Avatar" class="col-sm-3 col-form-label">Avatar</label>
                                    <div class="col-sm-9">
                                        <input asp-for="Avatar" type="file" name="fileAvatar" class="form-control file-upload-info">
                                        <span asp-validation-for="Avatar" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label asp-for="Gender" class="col-sm-3 col-form-label">Gender</label>
                                    <div class="col-sm-9">
                                        <select asp-for="Gender" class="form-control">
                                            <option value="0">Male</option>
                                            <option value="1">Female</option>
                                        </select>
                                        <span asp-validation-for="Gender" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label asp-for="Dob" class="col-sm-3 col-form-label">Date of Birth</label>
                                    <div class="col-sm-9">
                                        <input asp-for="Dob" type="date" class="form-control"/>
                                        <span asp-validation-for="Dob" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label asp-for="Email" class="col-sm-3 col-form-label">Email</label>
                                    <div class="col-sm-9">
                                        <input asp-for="Email" type="email" class="form-control"/>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label asp-for="Phone" class="col-sm-3 col-form-label">Phone</label>
                                    <div class="col-sm-9">
                                        <input asp-for="Phone" type="text" class="form-control"/>
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label asp-for="Address" class="col-sm-3 col-form-label">Address</label>
                                    <div class="col-sm-9">
                                        <input asp-for="Address" type="text" class="form-control"/>
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label asp-for="EduQualifi" class="col-sm-3 col-form-label">Educational Qualification</label>
                                    <div class="col-sm-9">
                                        <input asp-for="EduQualifi" type="text" class="form-control"/>
                                        <span asp-validation-for="EduQualifi" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label asp-for="EmployeeCode" class="col-sm-3 col-form-label">Employee Code</label>
                                    <div class="col-sm-9">
                                        <input asp-for="EmployeeCode" type="text" class="form-control"/>
                                        <span asp-validation-for="EmployeeCode" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label asp-for="Grade" class="col-sm-3 col-form-label">Grade</label>
                                    <div class="col-sm-9">
                                        <input asp-for="Grade" type="text" class="form-control"/>
                                        <span asp-validation-for="Grade" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label asp-for="ServiceId" class="col-sm-3 col-form-label">Department</label>
                                    <div class="col-sm-9">
                                        <select asp-for="ServiceId" class="form-control" asp-items="ViewBag.Service">
                                            <option>Select Department</option>
                                        </select>
                                        <span asp-validation-for="ServiceId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label asp-for="RoleId" class="col-sm-3 col-form-label">Role of Employee</label>
                                    <div class="col-sm-9">
                                        <select asp-for="RoleId" class="form-control" asp-items="ViewBag.Role">
                                            <option value="">Select Role</option>
                                        </select>
                                        <span asp-validation-for="RoleId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 50px;">
                            <div class="form-group">
                                <label asp-for="Achievements">Achievements</label>
                                <textarea asp-for="Achievements" name="achievements" class="form-control" id="achievements"></textarea>
                                <span asp-validation-for="Achievements" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label asp-for="Status">Status</label>
                            <select asp-for="Status" class="form-control">
                                <option value="1">Active</option>
                                <option value="2">Waitting</option>
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary me-2">
                            <i class="ti-file btn-icon-prepend"></i>
                            Save
                        </button>
                        <a href="~/Admin/Employee/ListEmployee" class="btn btn-light">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section ckeditorJS{
    <script>
        CKEDITOR.replace("description");
     </script>
}
    @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }