@model StarSecurity.Areas.Admin.Models.UpdatePassWord
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add Account</h4>
                    <form action="ResetPassword" class="form-sample" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <span class="text-danger">@ViewBag.error</span>
                        <div class="form-group">
                            <label asp-for="Username">UserName</label>
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PasswordOld">Old Password</label>
                            <input asp-for="PasswordOld" class="form-control" type="password" />
                            <span asp-validation-for="PasswordOld" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PasswordNew">New Password (at least 6 characters)</label>
                            <input asp-for="PasswordNew" class="form-control" type="password" />
                            <span asp-validation-for="PasswordNew" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary me-2">
                            <i class="ti-file btn-icon-prepend"></i>
                            Save
                        </button>
                        <a href="~/Admin/Employee/ListEmployee" class="btn btn-light">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

