<div class="hero-content">
    <div class="img-wrapper">
        <div class="image">
        </div>
    </div>
    <div class="content">
        <div class="wrapper">
            <div class="text">
                <p>
                    Your Satisfaction Is Our Priority
                </p>
                <h3>STAR SECURITY</h3>
            </div>
            <a href="./contact.html">Contact Us</a>
        </div>
    </div>
</div>
<div class="scroll-image-wrapper">
    <div class="image"></div>
    <div class="content">
        <p>A bit about us</p>
    </div>
</div>
<div class="about-content">
    <div class="container">
        <p>
            Star securities has been one of the pioneers in the Private Security Industry.
            Set up in 2000, the company has been a thought and knowledge leader since
            its inception. Through the decade of its existence, Star has endeavored to
            provide the best security solutions to its customers through innovation,
            commitment to quality, training and strict compliance to international
            standards.
        </p>
        <a href="./about.html">Learn more</a>
    </div>
</div>
<div id="ob" class="news-wrapper container">
    <div class="title">
        <p>Our Business</p>
    </div>
    <div class="news-item">
        <div class="news-image"><img src="~/images/guarding.jpg" alt=""></div>
        <div class="news-content">
            <div class="title">
                <p>MANNED GUARDING</p>
            </div>
            <div class="content">
                <p>
                    The service portfolio of this division includes
                    guarding, fire squad, dog squad, bodyguards etc. for industries,
                    banks, retail outlets, residential colonies, hotels and institutions
                </p>
            </div>
            <div class="link">
                <a href="#">More info</a>
            </div>
        </div>
    </div>
    <div class="news-item">
        <div class="news-image"><img src="~/images/Cameroon-Cash-780px.jpg" alt=""></div>
        <div class="news-content">
            <div class="title">
                <p> CASH SERVICE</p>
            </div>
            <div class="content">
                <p>
                    The service range of the Cash Services division
                    includes secured transfer of cash and valuables, ATM
                    replenishment, Vaulting and Processing Services, multi-point
                    cash collection and Caretaker Services
            </div>
            <div class="link">
                <a href="#">More info</a>
            </div>
        </div>
    </div>
    <div class="news-item">
        <div class="news-image">
            <img src="~/images/surveillance-systems-intrusion-detection-red-hawk-security-systems.jpg"
                 alt="">
        </div>
        <div class="news-content">
            <div class="title">
                <p> ELECTRONIC SECURITY SYSTEMS</p>
            </div>
            <div class="content">
                <p>
                    This division works in close
                    association with SIS&#39;s strategic partners i.e. reputed system
                    integrators &amp; installers. The primary area of activity for this
                    division is design, installation and maintenance of Access control
                    systems, CCTVs, fire alarm systems, fire suppression systems,
                    intruder/burglar alarms, perimeter protection systems, etc. The
                    division aims at marketing its products to the existing customer
                    base.
                </p>
            </div>
            <div class="link">
                <a href="#">More info</a>
            </div>
        </div>
    </div>
</div>
<div class="testimonial-wrapper">
    <div class="container">
        <div class="testimonial">
            <div class="contentss">
                <div class="image"><img src="~/images/woman 8.webp" alt=""></div>
                <div class="content">
                    <p>
                        "I found out about Star Security Inc with a quick Google search, and I couldn’t have been more fortunate.
                        They were fast, friendly, and super professional from the moment we got started."
                    </p>
                    <div class="author-name">
                        Reese Mathers
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>