@model StarSecurity.Models.ViewModel.HomeViewModel
@{
    ViewData["Title"] = "Home";
}

<div class="hero-content">
    <div class="img-wrapper">
        <div class="image">
        </div>
    </div>
    <div class="content">
        <div class="wrapper">
            <div class="text">
                <p>
                    Your Satisfaction Is Our Priority
                </p>
                <h3>STAR SECURITY</h3>
            </div>
            <a asp-controller="Contact" asp-action="Index">Contact Us</a>
        </div>
    </div>
</div>
<div class="scroll-image-wrapper">
    <div class="image"></div>
    <div class="content">
        <p>A bit about us</p>
    </div>
</div>
<div class="about-content">
    <div class="container">
        <p>
            Star securities has been one of the pioneers in the Private Security Industry.
            Set up in 2000, the company has been a thought and knowledge leader since
            its inception. Through the decade of its existence, Star has endeavored to
            provide the best security solutions to its customers through innovation,
            commitment to quality, training and strict compliance to international
            standards.
        </p>
        <a asp-controller="About" asp-action="Index">Learn more</a>
    </div>
</div>
<div id="ob" class="news-wrapper container">
    <div class="title">
        <p>Our Department</p>
    </div>

    @foreach(var item in Model.departments){
        <div class="news-item row">
            <div class="news-image col-md-4"><img src="~/upload/department/@item.Image" alt="Image"></div>
            <div class="news-content col-md-8">
                <div class="title">
                    <p>@item.Name</p>
                </div>
                <div class="content">
                    <p>
                        @item.Summary
                    </p>
                </div>
                <div class="link">
                    <a href="~/OurDepartment/DetailDepartment?id=@item.Id">More info</a>
                </div>
            </div>
        </div>
    }
</div>

<div class="partner">
    <div class="container">
        <div class="title">
            <p>Partners</p>
        </div>
        <div class="row">
            @foreach(var item in Model.partners){
                <div class="item col-md-2">
                    <div class="img"><img src="~/upload/partner/@item.Image" alt="Image"></div>
                    <div><h6>@item.Name</h6></div>
                </div>
            }
        </div>
    </div>
</div>

<div class="prd-slide">
    <div class="container">
        <div class="title">
            <p>Electronic security system</p>
        </div>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                @foreach (var item in Model.products)
                {
                    <div class="swiper-slide">
                        <a href="~/Product/Detail?id=@item.Id"><img src="~/upload//product/@item.Image" /></a>
                        <h6>@item.Name</h6>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="testimonial-wrapper">
    <div class="container">
        <div class="testimonial">
            <div class="contentss">
                <div class="image"><img src="~/image/woman 8.webp" alt=""></div>
                <div class="content">
                    <p>
                        "I found out about Star Security Inc with a quick Google search, and I couldn’t have been more fortunate.
                        They were fast, friendly, and super professional from the moment we got started."
                    </p>
                    <div class="author-name">
                        Reese Mathers
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section swipper_slide{
    <script>
        var swiper = new Swiper(".mySwiper", {
            watchSlidesProgress: true,
            slidesPerView: 3,
        });
    </script>
}

