<div class="content-wrapper">
    <div class="container">
        <div class="title">
            <h3>
                CASH SERVICE
            </h3>
        </div>
        <div class="content">
            <p>
                Cash Vault Services
                Our cash vaults use the latest high-speed technology to sort and process cash, coins and checks,
                with technology that guarantees bills are authentic and conditioned. 
                The result? We process $5 billion in cash every day and wrap 425 million rolls of coins each year.
                Device Installation
                Smart safes and cash recyclers can keep employees safe, protect against shrinkage and enable cash flow optimization.
                And no matter what device meets your needs, GardaWorld Cash will ensure it's fully tested, connected and ready to work. Count on it.
                ATM installation, Maintenance and Management
                GardaWorld services ATMs in 48 states and throughout Canada to ensure that your machines are always ready for business. 
                From making sure you have cash on hand to ensuring that your machines are in good working order, you’re covered with our ATM Services.
                Cash-in-Transit
                Whether you’re transporting cash, precious metals or works of art, 
                we have the experience and expertise—plus a fuel-efficient fleet of armored trucks that is the largest in the industry—to ensure your assets are protected.
                Back-office Operations and Management
                When managers and employees have to count and manage cash instead of taking care of customers, businesses face avoidable risks, inefficiencies and errors.
                Our back office processing makes cash accounting and reconciliations more accurate, reliable and safe, so you can focus on what matters most to your business.
            </p>
        </div>
    </div>
</div>