@model StarSecurity.Entites.Task
@{
    ViewData["Title"] = "AddTask";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add Task</h4>
                    <form action="AddTask" class="forms-sample" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="EmployeeId">Name of Employee</label>
                            <select asp-for="EmployeeId" class="js-example-basic-single w-100" asp-items="ViewBag.Employee" >
                                <option value="">Name of Employee</option>
                            </select>
                            <span asp-validation-for="EmployeeId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ClientId">Name of Client</label>
                            <select asp-for="ClientId" class="js-example-basic-single w-100" asp-items="ViewBag.Client">
                                <option value="">Name of Client</option>
                            </select>
                            <span asp-validation-for="ClientId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ServiceId">Service</label>
                            <select asp-for="ServiceId" class="js-example-basic-single w-100" asp-items="ViewBag.Service">
                                <option value="">Service</option>
                            </select>
                            <span asp-validation-for="ServiceId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description">Description</label>
                            <textarea asp-for="Description" name="description" class="form-control" id="description"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Status">Status</label>
                            <select asp-for="Status" class="form-control">
                                <option value="1">Waitting</option>
                                <option value="2">Processed</option>
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <span class="text-danger">@ViewBag.error</span>
                        </div>
                        <button type="submit" class="btn btn-primary me-2">
                            <i class="ti-file btn-icon-prepend"></i>
                            Save
                        </button>
                        <a href="~/Admin/Task/ListTask" class="btn btn-light">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section ckeditorJS{
    <script>
        CKEDITOR.replace("description");
    </script>
}
    @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }