<div class="content-wrapper">
    <div class="container">
        <div class="title">
            <h3>
                ELECTRONIC SECURITY SYSTEMS
            </h3>
        </div>
        <div class="content">
            <p>
                Physical Access Control Systems (PACS)
                PACS are intelligence systems (stand-alone or enterprise) of hardware and software deployed to control accesses through perimeter entries, internal control points and protected spaces. At a high level, a PACS is a collection of technologies that control physical access at one or more federal agency sites by electronically authenticating employees, contractors, and visitors. PACS components include, but are not limited to, PIV card readers, door controllers, turnstiles, request to exit (REX) devices, door position switches/sensors, electric door strikes, CAT5/CAT6/Fiber Optic cabling infrastructure, middleware, switches, servers, PACS software and computing hardware.

                All Department of Commerce PACS procurements are to meet requirements set forth by the GSA Approved Products List (APL) for PACS. The APL provides federal agencies with products and services that have been approved for Federal Identity, Credentialing and Access Management (FICAM) implementation based on rigorous security vulnerability and interoperability testing performed by the FIPS 201 Evaluation Program.

                The PACS Guide provided via the GSA's idmanagement.gov site serves as a "playbook" to help Security Specialists, IT staff, procurement specialists, and Facility Project Managers understand concepts related to FICAM-compliant PACSs. The guide provides a compliant path to PACS planning, programming, procurements, training and understanding of standards, policies and guidance.

                Video Surveillance Systems (VSS)
                VSS are intelligent systems of surveillance hardware and software deployed to surveil required points of facilities according to ISC standards and/or as designated by the security organization, Facility Security Committee (FSC), or facility Designated Official (DO).

                Intrusion Detection Systems (IDS)
                IDS are alarm signaling deployed devices programmed to detect intrusion into certain protected spaces, such as facility perimeter spaces (perimeter access locations like doors, windows, roof hatches, etc) and controlled areas (weapons/ammunition storage rooms, classified spaces). IDS communicate alarms to monitoring stations to signal for the appropriate response to the alarmed location.
        </div>
    </div>
</div>