.content-wrapper {
    background-color: #000;
    color: #fff;
}

    .content-wrapper .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 100px 0;
    }

.footer-wrapper {
    background-color: rgb(180, 171, 163);
    color: #000;
}

    .footer-wrapper form select,
    .footer-wrapper form textarea,
    .footer-wrapper form input {
        color: #000;
    }

input.submit {
    color: #000;
}

::placeholder {
    color: #000;
}
